RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/1cbac1a37f57784f/RAY.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/2bb0754030974ea0/READ_JSON.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/2e01e0c611fb1fba/FIRSTHIT.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/331bd01ce5fefd0e/RANDOM.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/3433165e0aae5a96/MAIN.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/39f3d515c72000b/MESHTRIANGLE.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/3b0fdbba2766ad33/PLANE.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/4af3f03568692670/LIGHT.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/4b9a3d9de4d6e676/MATERIAL.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/5daf59150f6b7b4c/SHPERE.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/5e9788ff169465f5/DIRNAME.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/9756ea0523a91008/OBJECT.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/9c63725471c64d6e/DIRNAME.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/d434d526784ae37c/MATRIX.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/de8b9fb59a5defb5/MAIN.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/ef31b89e5b88a564/CAMERA.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/f6ce3b453a728cd8/PLANE.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/fb090668ce121865/MATERIAL.ipch
RayTracing/.vs/RayTracing/v15/ipch/66353bc7cc6cf68a.ipch
RayTracing/.vs/RayTracing/v15/.suo
RayTracing/.vs/RayTracing/v15/Browse.VC.db
RayTracing/.vs/RayTracing/v15/Browse.VC.opendb
RayTracing/Lib/GCMath.lib
RayTracing/Lib/GCMath.pdb
RayTracing/x64/Debug/RayTracing.exe
RayTracing/x64/Debug/RayTracing.ilk
RayTracing/x64/Debug/RayTracing.pdb
RayTracing/RayTracing/Debug/RayTracing.tlog/CL.command.1.tlog
RayTracing/RayTracing/Debug/RayTracing.tlog/CL.read.1.tlog
RayTracing/RayTracing/Debug/RayTracing.tlog/CL.write.1.tlog
RayTracing/RayTracing/Debug/RayTracing.tlog/RayTracing.lastbuildstate
RayTracing/RayTracing/Debug/RayTracing.tlog/unsuccessfulbuild
RayTracing/RayTracing/Debug/material.obj
RayTracing/RayTracing/Debug/RayTracing.log
RayTracing/RayTracing/Debug/vc141.idb
RayTracing/RayTracing/Debug/vc141.pdb
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/CL.command.1.tlog
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/CL.read.1.tlog
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/CL.write.1.tlog
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/link.command.1.tlog
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/link.read.1.tlog
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/link.write.1.tlog
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/RayTracing.lastbuildstate
RayTracing/RayTracing/x64/Debug/RayTracing.tlog/RayTracing.write.1u.tlog
RayTracing/RayTracing/x64/Debug/GCMath.lib
RayTracing/RayTracing/x64/Debug/Main.obj
RayTracing/RayTracing/x64/Debug/material.obj
RayTracing/RayTracing/x64/Debug/Plane.obj
RayTracing/RayTracing/x64/Debug/RayTracing.Build.CppClean.log
RayTracing/RayTracing/x64/Debug/RayTracing.log
RayTracing/RayTracing/x64/Debug/vc141.idb
RayTracing/RayTracing/x64/Debug/vc141.pdb
RayTracing/RayTracing/x64/Debug/vcpkg.applocal.log
RayTracing/GCMath/Debug/GCMath.tlog/CL.command.1.tlog
RayTracing/GCMath/Debug/GCMath.tlog/GCMath.lastbuildstate
RayTracing/GCMath/Debug/GCMath.tlog/unsuccessfulbuild
RayTracing/GCMath/Debug/GCMath.log
RayTracing/GCMath/x64/Debug/GCMath.tlog/CL.command.1.tlog
RayTracing/GCMath/x64/Debug/GCMath.tlog/CL.read.1.tlog
RayTracing/GCMath/x64/Debug/GCMath.tlog/CL.write.1.tlog
RayTracing/GCMath/x64/Debug/GCMath.tlog/GCMath.lastbuildstate
RayTracing/GCMath/x64/Debug/GCMath.tlog/GCMath.write.1u.tlog
RayTracing/GCMath/x64/Debug/GCMath.tlog/Lib.command.1.tlog
RayTracing/GCMath/x64/Debug/GCMath.tlog/Lib-link.read.1.tlog
RayTracing/GCMath/x64/Debug/GCMath.tlog/Lib-link.write.1.tlog
RayTracing/GCMath/x64/Debug/GCMath.Build.CppClean.log
RayTracing/GCMath/x64/Debug/GCMath.idb
RayTracing/GCMath/x64/Debug/GCMath.log
RayTracing/GCMath/x64/Debug/GCMath.pdb
RayTracing/GCMath/x64/Debug/MathBase.obj
RayTracing/GCMath/x64/Debug/MathHelper.obj
RayTracing/GCMath/x64/Debug/Matrix.obj
RayTracing/GCMath/x64/Debug/Plane.obj
RayTracing/GCMath/x64/Debug/Quat.obj
RayTracing/GCMath/x64/Debug/RotationMatrix.obj
RayTracing/GCMath/x64/Debug/Rotator.obj
RayTracing/GCMath/x64/Debug/Transform.obj
RayTracing/GCMath/x64/Debug/vcpkg.applocal.log
RayTracing/GCMath/x64/Debug/Vector2.obj
RayTracing/GCMath/x64/Debug/Vector3.obj
RayTracing/GCMath/x64/Debug/Vector4.obj
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/4f5b056f84bfa709/FIRSTHIT.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/9a8cf3a8fbbc4a33/COLOR.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/d2d6336cc0caf094/RENDER.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/b06c61527d447458/MESHTRIANGLE.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/74305b8280cd43fa/RENDER.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/444e302156924754/WHITTED.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/fe055433bdeb7461/WHITTED.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/b3f3e75df587f6ac/SHPERE.ipch
RayTracing/.vs/RayTracing/v15/ipch/AutoPCH/a0a5b5390b6622a7/RENDER.ipch
RayTracing/RayTracing/x64/Debug/Render.obj
RayTracing/RayTracing/x64/Debug/MeshTriangle.obj
RayTracing/RayTracing/x64/Debug/ObjectList.obj
RayTracing/RayTracing/x64/Debug/Shpere.obj
RayTracing/RayTracing/x64/Debug/RayTracing.vcxproj.FileListAbsolute.txt
RayTracing/RayTracing/x64/Debug/RayCasting.obj
RayTracing/RayTracing/x64/Debug/PathTracingRender.obj
RayTracing/.vs/RayTracing/v16/ipch/AutoPCH/b8b3c58fdc1e997e/PATHTRACINGRENDER.ipch
RayTracing/.vs/RayTracing/v16/ipch/AutoPCH/97bdf08a95856f7e/MAIN.ipch
RayTracing/RayTracing/x64/Debug/MetropolisRender.obj
RayTracing/RayTracing/PathTracingRender.cpp
RayTracing/RayTracing/MetropolisRender.cpp
RayTracing/.vs/RayTracing/v16/ipch/AutoPCH/686a017f53f9efcf/RENDER.ipch
RayTracing/.vs/RayTracing/v16/ipch/AutoPCH/12e518a8fbd977ca/RAYCASTING.ipch
RayTracing/.vs/RayTracing/v16/Browse.VC.db
RayTracing/GCMath/x64/Debug/GCMath.tlog/Lib.read.1.tlog
RayTracing/.vs/RayTracing/v16/ipch/AutoPCH/f18b870ce68d2d07/METROPOLISRENDER.ipch
RayTracing/.vs/RayTracing/v16/Browse.VC.opendb
RayTracing/x64/Debug/out.ppm
RayTracing/GCMath/x64/Debug/GCMath.vcxproj.FileListAbsolute.txt
RayTracing/RayTracing/x64/Debug/WhittedRender.obj
RayTracing/.vs/RayTracing/v16/ipch/AutoPCH/885c2b6be2a17ec8/WHITTEDRENDER.ipch
*.ipch
*.obj
*.dll
